server/bin/Debug/netcoreapp2.0/LPCS.Server.pdb
server/bin/Debug/netcoreapp2.0/LPCS.Server.dll
server/obj/Debug/netcoreapp2.0/LPCS.Server.dll
server/obj/Debug/netcoreapp2.0/LPCS.Server.pdb
server/obj/Debug/netcoreapp2.0/LPCS.Server.csprojResolveAssemblyReference.cache
.DS_Store